:root {
  --bg-color: #000000;
  --mb: 10px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DIN Next LT Arabic Light", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

@font-face {
  font-family: "DIN Next LT Arabic Light";
  src: url(font/DIN\ Next\ LT\ Arabic\ Light.ttf) format("truetype");
}

@font-face {
  font-family: "Felipa";
  src: url(font/Felipa/Felipa-Regular.ttf) format("truetype");
}

@import url("https://fonts.cdnfonts.com/css/trajan-pro");

body {
  height: 100vh;
  background-color: var(--bg-color);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), url(https://64.media.tumblr.com/0cc0e9525f132d755b9af50945b3e227/tumblr_n3ihpw703b1qbsg6oo1_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.indented-list {
  list-style-type: none;
  counter-reset: custom-counter;
  margin-top: 10px;
}

.indented-list li:before {
  content: counter(custom-counter) ". ";
  counter-increment: custom-counter;
  margin-right: 15px;
}

.indented-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  text-indent: 0em;
  padding-left: 1em;
}

/* Accordion */
.accordion {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 20px;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin: auto;
}

.active,
.accordion:hover {
  background-color: rgb(194, 187, 187);
  color: #4d4a4a;
}

.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 50%;
}

.panel.open {
  max-height: initial;
}

/* T&C */
#rules {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%), url(https://e0.pxfuel.com/wallpapers/975/162/desktop-wallpaper-fallen-angels-199-wong-kar-wai.jpg);
  flex-wrap: wrap;
}

.rules-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: url(https://e0.pxfuel.com/wallpapers/975/162/desktop-wallpaper-fallen-angels-199-wong-kar-wai.jpg) no-repeat center;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}

.rules-wrapper.slide-in {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.5s;
}

.rules-wrapper h2 {
  font-family: "Felipa";
  font-size: 22px;
  color: #fff;
  text-shadow: 3px 3px 10px #59baba;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.list-wrapper {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: white;
  width: 50%;
}

ol,
ul {
  padding: 0;
}

/* Announcement */
.announcement-wrapper {
  background: url(img/bg-1.jpeg) no-repeat center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -999;
  margin: auto;
  padding: 40px;
}

.anc-content {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 20px;
  margin: auto;
  width: 50%;
  border-radius: 20px;
}

.announcement-wrapper-2 {
  padding: 20px;
  margin: auto;
  width: 50%;
  border-radius: 20px;
}

.announcement .announcement-wrapper {
  filter: blur(10px);
  transition: filter 1s ease-in-out;
}

.announcement .announcement-wrapper.blur-in {
  filter: none;
}

.announcement-wrapper p a {
  font-size: 16px;
  text-decoration: underline;
}

h2.anc-title {
  font-family: "Felipa";
  font-size: 2.8rem;
  text-shadow: 2px 2px 10px #59baba;
  margin: 0;
}

.anc-text {
  color: rgb(238, 122, 76);
}

.announcement .announcement-wrapper .anc-content a {
  z-index: 1;
}

/* Navbar */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #59baba;
  font-weight: 500;
}

/* HEADER */
header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: black;
  padding: 0 2rem;
  border-bottom: 0.5px solid black;
  z-index: 999;
}

.navbar {
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .links {
  display: flex;
  font-weight: 500;
  gap: 2rem;
  margin: 0;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: var(--bg-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: fixed;
  z-index: 9999;
}

.dropdown_menu.open {
  height: 121px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.dropdown_menu li {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* HERO */
.hero {
  height: 100vh;
  width: 100%;
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 10%, rgba(255, 255, 255, 0) 50%);
}

.blur-in {
  opacity: 0;
  filter: blur(10px);
  animation: blur-in 1s forwards;
}

.visible {
  opacity: 1 !important;
  filter: blur(0) !important;
}

@keyframes blur-in {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h2 {
  font-family: "Felipa";
  font-size: 22px;
  font-size: 2.5rem;
}

.hero .content h1 {
  margin: 0;
  font-family: "Castoro", serif;
  text-shadow: 2px 2px 10px #59baba;
  font-size: 3rem;
  line-height: 1.2;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero .content p {
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: var(--mb);
}

.hero .content .avl-btn:hover {
  background-color: #ccc;
  border: none;
  color: black;
}

.hero .content .hero-btn:hover {
  background-color: #59baba;
  border: none;
}

.cta {
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  margin: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cta:hover {
  background: black;
  color: white;
}

/* ABOUT */
.about {
  background-color: var(--bg-color);
  padding: 40px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.about.fade-in {
  opacity: 1;
}

.about-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: auto;
}

.about .about-content {
  width: 45%;
}

dt {
  font-weight: bold;
}

.about .about-content h2 {
  font-family: "Felipa";
  font-size: 22px;
  font-size: 3.5rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 10px #59baba;
  margin-bottom: var(--mb);
  text-align: center;
}

.about .about-content p {
  font-weight: 400;
  margin-bottom: var(--mb);
}

/* PROJECTS */
#projects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px !important;
  margin: auto;
  width: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.show {
  opacity: 1;
}

.projects .block-content {
  color: white;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.projects .block-content h2 {
  font-family: "Felipa";
  font-size: 22px;
  color: #fff;
  margin-bottom: var(--mb);
  text-shadow: 2px 2px 10px #59baba;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.projects .block-content p {
  font-weight: 300;
  margin: 0 0 20px 0;
}

.projects .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}

.col {
  width: 45%;
}

.row-text-1 {
  margin-bottom: 20px;
}

.responsive {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* CARDS */
.card-title {
  color: #fff;
  margin: 20px 0 20px 0;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}

.chevron-icon {
  font-size: 8px;
}

/* FOOTER */
.footer {
  background-color: #0a1816;
  color: #fff;
  padding: 40px;
}

.footer-wrapper {
  display: flex;
  height: auto;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.footer-1 {
  width: 40%;
}

.footer-2,
.footer-3,
.footer-4 {
  width: 20%;
}

.blockquote-footer::before {
  content: "";
}

small {
  font-size: 1rem;
}

.footer-link {
  font-family: "Castoro", serif;
  text-shadow: 1px 1px 5px #59baba;
  font-weight: 400;
}

.footer-2 h6 {
  transition: text-decoration 0.2s;
}

.footer-2 h6:hover {
  text-decoration: underline;
}

p.footer-text {
  font-weight: 400;
  letter-spacing: 1px;
}

.icon-wrapper {
  font-size: 1rem;
}

i {
  margin-right: 10px;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    box-sizing: border-box;
    font-size: 85%;
  }

  .about-wrapper {
    flex-wrap: wrap;
  }

  .anc-content {
    width: 100%;
  }

  .projects .block-content h2,
  .about .about-content h2,
  .rules-wrapper h2 {
    font-size: 3.5rem;
  }

  .projects .block-content {
    width: 85%;
  }

  .projects .row-1 {
    flex-wrap: wrap;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion {
    width: 100%;
  }

  .panel {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  i {
    font-size: 1rem;
  }

  .footer-1 {
    width: 40%;
  }

  .footer-2,
  .footer-3,
  .footer-4 {
    width: 15%;
  }

  .rules-wrapper {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .single-line {
    white-space: normal;
  }
}

/* Handphone */
@media only screen and (max-width: 480px) {
  html {
    font-size: 75%;
    max-width: 100%;
  }

  .hero {
    height: 100vh;
  }

  .hero .content {
    width: 100%;
  }

  .single-line {
    white-space: normal;
    overflow: visible;
    text-overflow: inherit;
    letter-spacing: 1px;
    line-height: 1;
  }

  .about-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about .about-content {
    width: 100%;
    text-align: center;
  }

  .about .about-content p {
    font-size: 15px;
  }

  dt,
  dd {
    font-size: 15px;
  }

  ol,
  li {
    font-size: 15px;
  }

  .projects .block-content {
    width: 80%;
  }

  .projects .block-content h2,
  .about .about-content h2 {
    font-size: 3.5rem;
  }

  .projects .block-content p {
    max-width: 100%;
    font-size: 15px;
  }

  .projects .block-content {
    width: 95%;
  }

  .projects .row {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .row-img img {
    width: 100%;
    height: auto;
  }

  .col {
    width: 100%;
  }

  .projects .row .row-img .responsive {
    max-width: 100%;
  }

  .accordion-button {
    font-size: 1.4rem;
  }

  .rules-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .announcement-wrapper .anc-content p {
    font-size: 15px;
  }

  .accordion {
    width: 100%;
  }

  .panel {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }

  .footer-wrapper {
    display: block;
    width: 100%;
  }

  .footer-1 {
    width: 100%;
  }

  .footer-3,
  .footer-4 {
    width: 100%;
  }

  .footer-text {
    margin-bottom: 20px;
  }

  .footer-link {
    margin-top: 20px !important;
  }

  .icon-wrapper {
    margin-top: 15px;
  }

  i {
    font-size: 1rem;
  }

  .rules-wrapper {
    display: block;
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown_menu.open {
    height: auto;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
